.calendar-container {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    p {
        font-size: 18px;
        font-weight: 100;
    }
}
.calendar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.calendar {
    margin: 12px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    color: var(--light);
    background-color: var(--dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    transition: background-color .2s ease-out;

    &--disabled {
        pointer-events: none;
        text-decoration: line-through;
        border: 1px solid rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.1);
        body.dark & {
            background-color: var(--gray-dark);
        }
    }

    &--invisible {
        pointer-events: none;

    }

    &--weekday {
        text-align: center;
        text-transform: capitalize;
        pointer-events: none;
    }

    &--today {
        background-color: var(--orange);
    }

    &--weekend {
        color: var(--orange);
    }
    &--selected,
    &:hover {
        color: var(--gray);
        background-color: var(--gray-dark);
        
        body.dark & {
            color: var(--gray-dark);
            background-color: var(--gray);
        }
    }
}

@media(hover: hover) and (pointer: fine) {
    .calendar-day:hover{
        color: var(--gray);
        background-color: var(--gray-dark);
        
        body.dark & {
            color: var(--gray-dark);
            background-color: var(--gray);
        }
    }
}

.sloth-container {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    flex-direction: column;
}

.sloth {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.9);
    margin-top: 2px;
    opacity: .1;
    
    &--occupied {
        border: 1px solid var(--light);
        background-color: var(--light);
    }
    
    body.dark & {
        border: 1px solid rgba(255,255,255,0.9);

        &--occupied {
            border: 1px solid var(--light);
            background-color: var(--light);
        }
    }
}
.calendar-day-bookings-animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.calendar-day-bookings {
    flex: none;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    
    h3 {
        span {
            text-transform: capitalize;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        transition: background-color .2s ease-out;
        cursor: pointer;
    }

    i {
        margin-right: 16px;
        margin-top: -3px;
    }
    
    &--occupied {
        pointer-events: none;
        // text-decoration: line-through;
        color: darken($color-calendar-day-slot--occupied, 20%);
        border-left: 8px solid darken($color-calendar-day-slot--occupied, 20%);
        background-color: lighten($color-calendar-day-slot--occupied, 10%);
    }

    &--vacant {
        color: darken($color-calendar-day-slot--vacant, 40%);
        border-left: 8px solid darken($color-calendar-day-slot--vacant, 20%);
        background-color: rgba(0,0,0,0.05);
    }

    &--booked {
        color: darken($color-calendar-day-slot--booked, 20%);
        border-left: 8px solid darken($color-calendar-day-slot--booked, 20%);
        background-color: lighten($color-calendar-day-slot--booked, 10%);
    }

    &__content__timeslot {
        margin-right: 24px;
    }

    
    &--next-available {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        transition: background-color .2s ease-out;
        background-color: rgba(0,0,0,0.05);
        cursor: pointer;
        
    }
}

@media (min-width: $breakpoint-tablet) {
    .calendar-container {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(hover: hover) and (pointer: fine) {
    .calendar-day-bookings {
        li:hover {
            body.dark & {
                color: var(--light);
                background-color: var(--gray-dark);
            }
            background-color: var(--light);
            color: var(--dark);
        }

        &--next-available:hover {
            body.dark & {
                color: var(--light);
                background-color: var(--gray-dark);
            }
            background-color: var(--light);
            color: var(--dark);
        }
    }
}