.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--dark);
    overflow: hidden;
}
.menu {
    background-color: var(--orange);
}
.menu button {
    font-family: $roboto-slab;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 30px;
    color: var(--light);
    background-color: var(--dark);
    transition: all .2s ease-out;

    border: none;
    cursor: pointer;
}
.menu button:disabled {
    cursor: default;
    color: var(--gray);
    text-decoration: line-through;
    &:hover{
        background-color: var(--dark);
    }
}
.menu button:hover{
    color: var(--dark);
    background-color: var(--light);
    text-decoration: underline;


}
.nav{
    max-height: 0;
    transition: max-height .2s ease-out;
    &-open {
        max-height: 100%;
    }
}

@media (min-width: $breakpoint-tablet) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        
    }
    .menu li{
        float: left;
    }
    .menu button {
        font-size: 16px;
    }
    .menu > button:hover {
        background-color: transparent;
        color: var(--gray);
    }

    .hamb{
        display: none;
    }
}