.calendar-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: 900;

    body.dark & {
        background-color: var(--gray);
        color: var(--gray-dark);
    }
    color: var(--dark);
    background-color: var(--light);
    
    p,
    h3 {
        margin: 0;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        body.dark & {
            color: var(--gray-dark);
        }
        color: var(--dark);

        margin-right: 8px;
        &:last-child {
            margin-left: 12px;
        }
    }
}