.calendar-container {
    margin: 0 12px 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    p {
        font-size: 18px;
        font-weight: 1  00;
    }
}
.calendar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.calendar {
    margin: 12px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    color: var(--white);
    background-color: var(--black);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    transition: background-color .2s ease-out;

    &--disabled {
        pointer-events: none;
        text-decoration: line-through;
        border: 1px solid rgba(0,0,0,0.1);
        background-color: var(--gray-dark);

    }

    &--invisible {
        pointer-events: none;

    }
    &--weekday {
        text-align: center;
        text-transform: capitalize;
        pointer-events: none;
    }

    &--selected {
        color: var(--black);
        background-color: var(--white);
    }

    &--today {
        background-color: var(--orange);
    }

    &:hover {
        color: var(--black);
        background-color: var(--white); 
    }
}

.sloth-container {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    flex-direction: column;
}

.sloth {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5);
    margin-top: 2px;
    opacity: 0.1;

    &--occupied {
        border: 1px solid var(--white);
        background-color: var(--white);
    }
}
.calendar-day-bookings {
    flex: none;
    margin-top: auto;
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    li {
        display: flex;
        flex-direction: row;
        padding: 8px 12px;
        transition: background-color .2s ease-out;
        cursor: pointer;
        &:hover {
            color: var(--white);
            background-color: var(--gray-dark);
        }
    }
    
    &--occupied {
        pointer-events: none;
        text-decoration: line-through;
        border-left: 8px solid var(--orange);
        background-color: var( --gray-dark);
    }

    &--vacant {
        color: darken($color-message-success, 20%);
        border-left: 8px solid lighten($color-message-success, 20%);;
        background-color: lighten($color-message-success, 10%);
    }

    &--booked {
        color: darken($color-message-success, 20%);
        border-left: 8px solid lighten($color-message-success, 20%);
        background-color: lighten($color-message-success, 10%);
    }

    &__content__timeslot {
        margin-right: 24px;
    }
}

@media (min-width: 920px) {
    .calendar-container {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }
}
