.footer {
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    padding: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;

    a {
        color: var(--light);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}