/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 31px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--light);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--light);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 7px;
}
.hamb-line::after{
    top: -7px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

.side-menu:checked ~ nav{
    // max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width: $breakpoint-tablet) {
    .hamb{
        cursor: pointer;
        float: right;
        padding: 40px 20px;
    }
}