.message-container {
    position: fixed;
    bottom: -40px;
    // left: 50%;
    // transform: translateX(-50%);
    padding: 0 12px;
    transition: all 0.2s ease-out;
    width: 100%;
    opacity: 1;
    z-index: 2;
    &-show {
        opacity: 1;
        bottom: 0;
    }

}

.message {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    align-items: center;
    padding: 8px;
    background-color: var(--orange);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
    color: var(--white);
    transition: all 0.2s ease-out;
    // box-shadow: -1px -3px 10px 4px rgba(0,0,0,0.22);
    // -webkit-box-shadow: -1px -3px 10px 4px rgba(0,0,0,0.22);
    // -moz-box-shadow: -1px -3px 10px 4px rgba(0,0,0,0.22);

    p {
        padding: 0;
        margin: 0;
    }
    &--success {
        background-color: lighten($color-message-success, 20%);
        color: darken($color-message-success, 20%);
        border: 1px solid darken($color-message-success, 20%);
    }

    &--error {
        background-color: lighten($color-message-error, 0%);
        color: var(--white);
        border: 1px solid darken($color-message-error, 60%);
    }

    &--warning {
        background-color: lighten($color-message-warning, 20%);
        color: darken($color-message-warning, 20%);
        border: 1px solid darken($color-message-warning, 20%);
    }

    &--info {
        background-color: lighten($color-message-info, 20%);
        color: darken($color-message-info, 20%);
        border: 1px solid darken($color-message-info, 20%);
    }
}