.message-container {
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
    margin: 0 auto;
    padding: 0 12px;
    transition: all 0.2s ease-out;
    width: 100%;
    opacity: 1;
    z-index: 2;
    &-show {
        opacity: 1;
        transform: translateY(-8px);
        
    }
}

.message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    background-color: var(--orange);
    max-width: $breakpoint-tablet - 12px;
    margin: 0 auto;
    border-radius: 0;
    color: var(--light);
    transition: all 0.2s ease-out;
    -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    p {
        margin: 0;
        line-height: 18px;
    }
    p,
    span,
    i {
        margin-left: 4px;
        margin: 0 auto;
    }
    
    &--success {
        background-color: var(--light);
        color: var(--dark);
    }

    &--error {
        background-color: lighten($color-message-error, 0%);
        color: var(--light);
    }

    &--warning {
        background-color: lighten($color-message-warning, 20%);
        color: darken($color-message-warning, 20%);
    }

    &--info {
        background-color: var(--light);
        color: var(--dark);
    }
}