:root {
    --dark: #c8c8c8;
    --light: #252422;
    --gray: #c6c7c4;
    --gray-light: #c8c8c8;
    --gray-dark: #403d39;
    --orange: #eb5e28;
    --yellow: #f6aa1c;
    --green: #5C7457;
}

body.dark {
    /* Dark mode variables go here */
    --light: #c8c8c8;
    --dark: #252422;
    --gray: #c6c7c4;
    --gray-light: #c8c8c8;
    --gray-dark: #403d39;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: var(--light);
    }
    $color-calendar-day-slot--vacant: #ccc5b9;

}

$color-message-success: #5C7457;
$color-message-info: #06BEE1;
$color-message-warning: #f6aa1c;
$color-message-error: #eb5e28;

$color-calendar-day-slot--occupied: #eb5e28;
$color-calendar-day-slot--vacant: #c8c8c8;
$color-calendar-day-slot--booked: #5C7457;

$breakpoint-tablet: 972px;

