* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body {
    background-color: var(--black);
    color: var(--white);
    font-family: $roboto-slab;
    font-size: 1rem;
    height: 100dvh;
}
a {
    text-decoration: none;
    color: var(--white);
}
a:hover {
    color: var(--gray-dark);
}
ul {
    list-style: none;
}
form .field > label {
    color: var(--white)!important;
}
form .field > select,
form .field > input {

    background-color: var(--gray)!important;
    color: var(--gray-dark)!important;
}